/* src/component/handleListings.css */
.handle-listings {
  padding: 20px;
}


.handle-listings .product-card {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
}


.handle-listings .image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  flex: 1;
  border-radius: 0px;
}


.handle-listings .product-card:hover .button-container {
  opacity: 1;
  transform: scale(1.02);

}


.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6a13b;
  border-top: 1px solid #ddd;
  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.1); 
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.approve-btn,
.deny-btn,
.delete-btn {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.approve-btn {
  background-color: #28a745;
  color: white;
  flex: 1;
  margin-right: 10px;
}

.deny-btn {
  background-color: #ffc107;
  color: white;
  flex: 1;
  margin-left: 10px;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  width: 50%;
}


.approve-btn:hover {
  background-color: #24a141;
  opacity: 1;
  transform: scale(1.05);
}

.deny-btn:hover {
  background-color: #ffc107;
  opacity: 1;
  transform: scale(1.05);
}

.delete-btn:hover {
  background-color: #d61c2f;
  opacity: 1;
  transform: scale(1.05);
}
