.App-header {
    background-color: #CE8C29;
    padding: 20px;
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 14px 6px rgba(0, 0, 0, 0.1); /* Shadow under the navbar */
    z-index: 1000; /* Ensure it stays above other content */
  }
  
  .App-header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  .App-header nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
  }
  
  .App-header nav ul li {
    margin: 0 15px;
  }
  
  .App-header nav ul li a {
    color: #ffffff;
    text-decoration: none; 
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .App-header nav ul li a:hover {
    background-color: #e6a13b;
    color: white;
  }
  
  @media (max-width: 800px) {
    .App-header nav ul {
      justify-content: center; /* Center align the navigation items */
    }
   
    .App-header nav ul li {
      margin: 0 8px; /* Reduced margin between links */
    }
  
    .App-header nav ul li a {
      padding: 8px 12px; /* Reduced padding for smaller screens */
      font-size: 0.875rem; /* Smaller font size for links */
    }
  }

