html, body {
  height: 100%;
  margin: 0;
  padding-top: 70px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #FDF5D8;
}
 
.App-header {
  background-color: #CE8C29;
  padding: 20px;
  text-align: center;
  color: white;
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  transition: top 0.3s; 
}

.App-content {
  padding-top: 80px;
}


