.profile-page-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFF4E6;
    border: 1px solid #CE8C29;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
 
/* Style adjustments for form elements */
.profile-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CE8C29;
    box-sizing: border-box;
}


.profile-pic-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Adjust the phone number input container */
.phone-input-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.phone-input-container .react-tel-input {
    flex: 1; 
    margin-right: 10px; 
}

.phone-input-container .react-tel-input .form-control {
    width: 100%; 
    box-sizing: border-box; 
}

.country-select {
    flex-shrink: 0; /* Prevent the country select from shrinking */
    width: auto; 
    border-radius: 5px;
    border: 1px solid #CE8C29;
    box-sizing: border-box;
}



/* Button styling */
.save-button {
    padding: 10px 20px;
    background-color: #CE8C29;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.save-button:hover {
    background-color: #9b5f05;
  }

  .form-switch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
  }

.form-switch button {
    background-color: #CE8C29;
    border: 1px solid #ccc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
} 
.form-switch button:hover {
    background-color: #9b5f05;
  }

/* Media query for screens 768px and below (tablets and phones) */
@media (max-width: 768px) {
    .profile-page-container {
        max-width: 80%;
        margin: 80px auto;
        padding: 15px;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="password"] {
        padding: 8px;
    }

    .save-button {
        width: 100%; 
        padding: 12px;
    }
}

/* Media query for screens 480px and below (small phones) */
@media (max-width: 480px) {
    .profile-page-container {
        max-width: 80%;
        margin-top: 100px;
        padding: 20px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="password"] {
        padding: 10px;
        font-size: 14px;
    }

    .profile-pic-section {
        margin-bottom: 15px;
    }

    .profile-pic {
        width: 80px;
        height: 80px;
    }

    .save-button {
        width: 100%;
        padding: 12px;
    }
}
